<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div class="container" style="background-image: url('aas.gif'); background-repeat:no-repeat; background-size:cover;" >
<div class="row">
    <div class="col-md-4 ">
        <button class="minerar"><img src="madeira.png" style="height: 200px;"></br>Minerar</button>
        

    </div>
    <div class="col-md-2">
            <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Pica De Pedra</div>
                    <div class="card-body">
                      <h5 class="card-title"><img src="pedra.png" style="height: 120px;"></h5>
                      <p class="card-text din "><img src="ourin.png" class="ferro"><br> 100 <button class="cu">Comprar</button></p>
                      
                    </div>
                  </div>
    </div>
    <div class="col-md-2">
            <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Pica De Ferro</div>
                    <div class="card-body">
                      <h5 class="card-title"><img src="ferroP.png" style="height: 120px;"></h5>
                      <p class="card-text din "><img src="ourin.png" class="ferro"><br> 1000 <button class="cu">Comprar</button></p>
                      
                    </div>
                  </div>
    </div>
    <div class="col-md-2">
            <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Pica De Ouro</div>
                    <div class="card-body">
                      <h5 class="card-title"><img src="ouro.png" style="height: 120px;"></h5>
                      <p class="card-text din "><img src="ourin.png" class="ferro"><br> 10000 <button class="cu">Comprar</button></p>
                      
                    </div>
                  </div>
    </div>
</div>
<br>
<!-- Div Do ferro -->
<div class="row">
        <div class="col-md-4">
            <p class="textinhos">Total de <img src="ferrin.png" class="ferro"> Minerado :</p>
            <input class="inpu" >
            <button class="minerar vender">Vender</button>
            
            <p class="textinhos">Total de <img src="ourin.png" class="ferro"> Obtido :</p>
                <input class="inpu" >
        </div>
          <!-- Divs das compras -->
        <div class="col-md-2">
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                        <div class="card-header">Pica De Dima</div>
                        <div class="card-body">
                          <h5 class="card-title"><img src="dima.png" style="height: 120px;"></h5>
                          <p class="card-text din "><img src="ourin.png" class="ferro"><br> 100000 <button class="cu">Comprar</button></p>
                          
                        </div>
                      </div>
        </div>
        <div class="col-md-2">
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                        <div class="card-header">Pica De Esme</div>
                        <div class="card-body">
                          <h5 class="card-title"><img src="esme.png" style="height: 120px;"></h5>
                          <p class="card-text din "><img src="ourin.png" class="ferro"><br> 1000000 <button class="cu">Comprar</button></p>
                          
                        </div>
                      </div>
            </div>
            <div class="col-md-2">
                    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                            <div class="card-header">Pica De Prestigio</div>
                            <div class="card-body">
                              <h5 class="card-title"><img src="prestigio.png" style="height: 120px;"></h5>
                              <p class="card-text din "><img src="ourin.png" class="ferro"><br> 10000000 <button class="cu">Comprar</button></p>
                              
                            </div>
                          </div>
                </div>
   
    </div>
    </div>
<style>
    .minerar{
    font-weight:bold;
    color:black;
    border:none;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 80px;
    }
    .minerar:focus{
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;

    }
    .inpu{
        width: 100%;
        background-color: rgb(189, 189, 189);
        color: black;
    }
    .textinhos{
    font-size: 20px;
    color: white;
    text-align: center;
    
    }
    .ferro{
        height: 50px;
    }
    .vender{
        width: 50%;
        margin-left: 100px;
        height: 70px;
        margin-top: 10px;
    }
    .din{
        color:white;
        font-size: 14px;
        text-align: center;
    }
    .card-header{
        text-align: center;
    }
    .cu{
        font-weight:bold;
    color:black;
    border:none;
    font-size: 22px;
    margin-top: 5px;
    margin-left: px;
    }
    .cu:focus{
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;

    }
</style>
